.game-card {
  background: #1f2937;
  color: white;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.old {
  text-decoration: line-through;
  color: gray;
}

.sale {
  color: #22c55e;
  font-weight: bold;
}
