.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.auth-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
}

.auth-title {
  font-size: 28px;
  font-weight: bold;
  color: #00eaff;
  margin-bottom: 5px;
}

.auth-subtitle {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 25px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1e1e1e;
  color: white;
}

.auth-card input::placeholder {
  color: #777;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #00eaff, #00ff88);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  transform: scale(1.05);
}

.auth-card span {
  color: #00eaff;
  cursor: pointer;
  font-weight: bold;
}
