.checkout-container {
  padding: 40px;
  color: white;
}

.checkout-title {
  margin-bottom: 30px;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 30px;
}

/* FORM */
.checkout-form {
  background: #1f1f2e;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #2c2c3d;
  color: white;
}

/* SUMMARY */
.checkout-summary {
  background: #1f1f2e;
  padding: 25px;
  border-radius: 12px;
  height: fit-content;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 15px;
}

/* BUTTON */
.pay-btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  transform: scale(1.03);
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.qty-controls button {
  padding: 5px 10px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.qty-controls span {
  min-width: 20px;
  text-align: center;
}
